orderdetaisl/IntegrationFlow/orderdetails/src/main/resources/xsd/Target_Message_RD.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Copyright statement for ISO Codelists: Copyright (c) 2017, ISO

All ISO content is copyright protected. The copyright is owned by ISO. Any use of the content, including copying of it in whole or in part, for example to another Internet site, is prohibited and would require written permission from ISO.

All ISO publications are also protected by copyright. The copyright ownership of ISO is clearly indicated on every ISO publication. Any unauthorized use such as copying, scanning or distribution is prohibited.

Requests for permission should be addressed to the ISO Central Secretariat or directly through the ISO member in your country.

See more: https://www.iso.org/privacy-and-copyright.html--><!--Copyright statement for UN/CEFACT Codelists: Copyright (c) United Nations 2000-2008. All rights reserved. None of the materials provided on this web site may be used, reproduced or transmitted, in whole or in part, in any form or by any means, electronic or mechanical, including photocopying, recording or the use of any information storage and retrieval system, except as provided for in the Terms and Conditions of Use of United Nations Web Sites, without permission in writing from the publisher. To request such permission and for further enquiries, contact the Secretary of the Publications Board, United Nations, New York, NY, 10017, USA (pubboard@un.org; Telephone: (+1) 212-963-4664; Facsimile: (+1) 212-963-0077). See also: http://www.unece.org/legal_notice/copyrightnotice.html--><xsd:schema xmlns:hci="http://sap.com/hci" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:xsd="http://www.w3.org/2001/XMLSchema" vc:minVersion="1.1"><xsd:annotation><xsd:appinfo><hci:resourceinfo><hci:info key="typeSystem" value="Customer_TS"/><hci:info key="typeSystemVersion" value="1.0"/><hci:info key="category" value="MIG"/><hci:info key="rootNode" value="PurchaseOrder"/><hci:info key="messageType" value="PurchaseOrder"/><hci:info key="messageName" value="Purchase Order"/><hci:info key="migName" value="Target_Message"/><hci:info key="migID" value="4ee84ff572bc4c23b9d44ea07362eb49"/><hci:info key="migVersion" value="1.0"/><hci:info key="migStatus" value="Active"/></hci:resourceinfo></xsd:appinfo></xsd:annotation><xsd:element name="PurchaseOrder"><xsd:complexType><xsd:sequence><xsd:element maxOccurs="1" minOccurs="1" name="OrderNumber" type="xsd:string"/><xsd:element maxOccurs="1" minOccurs="1" name="TotalAmount" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>